$primaryColor: #49F1BD;
$secondaryColor: #02455C;
$tertiaryColor: #044E65;
$quaternaryColor: #FCD567;
$quinaryColor: #F7A278;

main {
   background: url(../assets/veggieBackground.png) top left/50% repeat;
}
