$primaryColor: #02455C;
$accentColorAqua: #49F1BD;
$accentColorYellow: #FCD567;
$accentColorPeach: #F7A278;
$primaryBackgroundColor: #044E65;


$headingFont: 'Londrina Solid', cursive;
$bodyFont: 'Montserrat', sans-serif;

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-size: 2rem;
   text-align: center;
   font-family: $bodyFont;
}

.wrapper {
   max-width: 1024px;
   margin: 0 auto;
}



