header {
   background: $primaryBackgroundColor;
   height: 30vh;
   
   h1 {
      font-family: $headingFont;
      font-size: 15rem;
      color: $accentColorAqua;
      margin: 0;
      padding: 10px 0;
   }
}