main {
    background: url(../assets/veggieBackground.png) top left/50% repeat;

    form {
        height: 70vh;
    }

    .searchParameters {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        padding: 40px 0;

        .foodType {
            font-family: $cityFont;
            font-size:5rem;
            text-align:center;
            padding: 25px 0;
        }

        .cost,
        .foodType,
        .location {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 33.33%;
        }

        .foodType div {
            width: 100%;
        }

        .cost div {
            width: 50%;
        }

        .location div {
            width: 35%;
        }

        .foodType img,
        .cost img,
        .location img {
            width: 100%;
        }

        input[type=radio] {
            position: absolute;
            opacity: 0;
        }

        input[type=radio]:checked+label>img,
        .foodType input[type=radio]:checked+label {
            border: 1px solid $accentColorPeach;
            box-shadow: 0 0 3px 8px $accentColorPeach;
        }
    }

    .resultsButtonContainer {
        padding-top: 15px;
    
        .resultsButton {
            font-size: 5rem;
            font-family: $headingFont;
            color: $primaryColor;
            text-align: center;
            background: $accentColorPeach;
            border: 8px solid $accentColorYellow;
            border-radius: 10px;
            padding: 10px 20px;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 4px;
                background-color: $accentColorAqua;
                transform-origin: center right;
                transform: scaleX(0);
                transition: transform 0.5s ease;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &:hover::before,
            &:hover::after {
                transform-origin: center left;
                transform: scaleX(1);
            }
            
            &:active {
                background: $accentColorYellow;
            }

            &:focus {
                border: 8px dashed $primaryColor;
            }
        }
    }
}