main {
    background: url(../assets/veggieBackground.png) top left/50% repeat;

    form {
        height: 70vh;
    }

    .searchParameters {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        padding: 40px 0;

        .foodType {
            padding: 25px 0;
        }

        .cost,
        .foodType,
        .location {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 33.33%;
        }

        .foodType div {
            width: 100%;
            font-family: $cityFont;
            font-size:5rem;
            text-align:center;
        }

        .cost div {
            width: 50%;
        }

        .location div {
            width: 35%;
        }

        .foodType img,
        .cost img,
        .location img {
            width: 100%;
        }

        input[type=radio] {
            position: absolute;
            opacity: 0;
        }

        input[type=radio]:checked+label>img,
        .foodType input[type=radio]:checked+label {
            border: 1px solid #fff;
            box-shadow: 0 0 3px 10px $accentColorAqua;
        }
    }
    .resultsButtonContainer {
        padding-top: 15px;
    
        .resultsButton {
            font-size: 5rem;
            text-align: center;
            background: $accentColorPeach;
            border-radius: 10px;
            color: $primaryColor;
            font-family: $headingFont;
            padding: 10px 20px;
            border: 0.16em solid $accentColorYellow;
        }
    }
}

button {
    position: relative;
    background-color: $accentColorPeach;

}

button::before,
button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #3cefff;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

button::before {
    top: 0;
}

button::after {
    bottom: 0;
}

button:hover::before,
button:hover::after {
    transform-origin: center left;
    transform: scaleX(1);
}