main {
   .searchParameters {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      padding: 50px 0;
      .cost,
      .foodType,
      .location {
         display: flex;
         flex-direction: column;
         width: 33.33%;
      }
      
   }
}



label {
   padding: 20px 0;
}