article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #02485D;
  height: 30vh;
}

header h1 {
  font-family: "Londrina Solid", cursive;
  font-size: 15rem;
  color: #49F1BD;
  margin: 0;
  padding: 10px 0;
}

main {
  background: url(../assets/veggieBackground.png) top left/50% repeat;
}

main form {
  height: 70vh;
}

main .searchParameters {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0;
}

main .searchParameters .foodType {
  padding: 25px 0;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 5rem;
  text-align: center;
}

main .searchParameters .cost,
main .searchParameters .foodType,
main .searchParameters .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
}

main .searchParameters .foodType div {
  width: 100%;
}

main .searchParameters .cost div {
  width: 50%;
}

main .searchParameters .location div {
  width: 35%;
}

main .searchParameters .foodType img,
main .searchParameters .cost img,
main .searchParameters .location img {
  width: 100%;
}

main .searchParameters input[type=radio] {
  position: absolute;
  opacity: 0;
}

main .searchParameters input[type=radio]:checked + label > img,
main .searchParameters .foodType input[type=radio]:checked + label {
  border: 1px solid #F7A278;
  -webkit-box-shadow: 0 0 3px 8px #F7A278;
          box-shadow: 0 0 3px 8px #F7A278;
}

main .resultsButtonContainer {
  padding-top: 15px;
}

main .resultsButtonContainer .resultsButton {
  font-family: "Londrina Solid", cursive;
  color: #032D35;
  font-size: 5rem;
  text-align: center;
  background: #F7A278;
  border: 8px solid #FCD567;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
}

main .resultsButtonContainer .resultsButton::before, main .resultsButtonContainer .resultsButton::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #49F1BD;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

main .resultsButtonContainer .resultsButton::before {
  top: 0;
}

main .resultsButtonContainer .resultsButton::after {
  bottom: 0;
}

main .resultsButtonContainer .resultsButton:hover::before, main .resultsButtonContainer .resultsButton:hover::after {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .resultsButtonContainer .resultsButton:active {
  background: #FCD567;
}

main .resultsButtonContainer .resultsButton:focus {
  border: 8px dashed #032D35;
}

.results {
  padding: 30px 0;
}

.results .resultsInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.results .resultsInformation .imageContainer {
  width: 40%;
}

.results .resultsInformation img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

.results .resultsInformation article {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .resultsInformation h2 {
  font-family: "Londrina Solid", cursive;
  font-size: 5rem;
  margin: 0;
  border-bottom: 5px dashed #F7A278;
  padding-bottom: 5px;
}

.results .resultsInformation .locationInfo {
  border-bottom: 3px dashed #F7A278;
  padding: 10px 0;
}

.results .resultsInformation .rating {
  padding-top: 5px;
}

.results .resultsInformation p {
  font-size: 3rem;
  margin: 0;
}

footer {
  background: #032D35;
  color: #FCD567;
  font-family: "Montserrat", sans-serif;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 19vw;
    padding: 25px 0;
  }
  main form {
    height: 61vh;
  }
  main .searchParameters .foodType {
    padding: 0;
    font-size: 6.5vw;
  }
  main .resultsButtonContainer {
    padding-top: 30px;
  }
  main .resultsButtonContainer .resultsButton {
    font-size: 6.5vw;
  }
  .results .resultsInformation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .results .resultsInformation .imageContainer,
  .results .resultsInformation article {
    width: 100%;
  }
  .results .resultsInformation article {
    padding: 20px 0;
  }
  .results .resultsInformation h2 {
    font-size: 6.5vw;
  }
  .results .resultsInformation p {
    font-size: 3.9vw;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  header {
    height: auto;
  }
  main form {
    padding-top: 80px;
    height: 75vh;
  }
}
/*# sourceMappingURL=style.css.map */